<div class="container-fluid general-cont">
  <div class="row">
    <div class="col-12 bloqueForm">
      <div class="formulario">
      <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="login()">

        <h2 class="mb-4">Login</h2>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>

        <button type="submit" class="btn btn-success w-100" [disabled]="myForm.invalid">Login</button>

      </form>
    </div>
    </div>
  </div>
</div>

