
<div class="container-fluid general-cont">
  <div class="row">
    <div class="col-12 bloqueForm">
      <div class="formulario">
      <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="register()">

        <h2 class="mb-4">Register</h2>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="password2"  formControlName="password2">
        </div>

        <div class="text-end mb-3">
            <a routerLink="/login" class="link-success">Already member? Login</a>
        </div>

        <button type="submit" class="btn btn-success w-100" [disabled]="myForm.invalid">Register</button>
      </form>
    </div>
    </div>
  </div>
</div>
