<div class="container-fluid bloque1">
  <div class="row seccion1">
    <div class="col-sm-12 col-md-12 col-lg-8 historia">
      <h1>The Climate Challenge in <span>Catalonia</span>and the<span>World</span></h1>
      <h2>
        How climate change affects our region and what we can do to tackle it.
      </h2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 imgPlaneta">
      <img src="assets/planeta.png" alt="" />
    </div>
  </div>
</div>
<div class="container-fluid bloque2">
   <div class="row">
       <div class="col-sm-12 col-md-12 col-lg-6 seccion2"> 
        <div class="text_seccion2">
            <p>The Impact of Climate Change on Drought in Catalonia
                Catalonia, a region of Spain, has been intensely affected by drought in recent years, a phenomenon directly related to climate change and global warming. As temperatures have risen, rainfall patterns have become erratic, leading to a significant decrease in precipitation. This has resulted in a substantial reduction of water resources, affecting reservoirs, rivers, and aquifers.
                
                Since 2020, the region has faced extreme droughts, with levels of stored water dropping to historical lows. This phenomenon impacts agriculture, which relies on irrigation, and also jeopardizes the water supply for cities while affecting local biodiversity.
                
                Global warming has altered the water cycle, causing more prolonged and severe droughts, which exacerbates environmental challenges in Catalonia and highlights the urgency of taking action to mitigate the effects of climate change.</p>
        </div> 
           
       </div>
       <div class="col-sm-12 col-md-12 col-lg-6"> 
        
    </div>
   </div>
</div>
