<div class="container-fluid bloque1">
  <div class="row seccion1">
    <div class="col-sm-12 col-md-12 col-lg-7 historia">
      <h1>
        The Climate Challenge in <span>Catalonia</span>and the<span>World</span>
      </h1>
      <h2>
        How climate change affects our region and what we can do to tackle it.
      </h2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 imgPlaneta">
      <img src="assets/planeta.png" alt="" />
    </div>
  </div>
</div>
<div class="container-fluid bloque2">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 seccion2">
      <div class="text_seccion2">
        <h3>The Impact of Climate Change on Drought in Catalonia</h3>
        <br>
        <p>
          Catalonia, a region of Spain, has been intensely affected by drought
          in recent years, a phenomenon directly related to climate change and
          global warming. As temperatures have risen, rainfall patterns have
          become erratic, leading to a significant decrease in precipitation.
          This has resulted in a substantial reduction of water resources,
          affecting reservoirs, rivers, and aquifers. Since 2020, the region has
          faced extreme droughts, with levels of stored water dropping to
          historical lows. This phenomenon impacts agriculture, which relies on
          irrigation, and also jeopardizes the water supply for cities while
          affecting local biodiversity. Global warming has altered the water
          cycle, causing more prolonged and severe droughts, which exacerbates
          environmental challenges in Catalonia and highlights the urgency of
          taking action to mitigate the effects of climate change.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 video_seccion2">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/APYkGClCI8s?autoplay=1&mute=1"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 seccion3 order-2 order-lg-1">
      <img src="assets/co2.jpg" alt="" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 seccion3 order-1 order-lg-2">
      <div class="text_seccion3">
        <h3>
          Global Climate Change: Impact of CO2 on Droughts and Temperatures
        </h3>
        <br>
        <p>
          Global climate change, largely driven by increasing carbon dioxide
          (CO2) emissions, is having devastating consequences around the world.
          As CO2 levels continue to rise due to human activities such as the
          burning of fossil fuels and deforestation, global temperatures are on
          the rise. This increase in temperatures causes alterations in climate
          patterns, resulting in more frequent and severe droughts in various
          regions. Droughts, exacerbated by global warming, affect the
          availability of drinking water, agriculture, and biodiversity. Many
          communities face water resource scarcity, which aggravates food
          insecurity and contributes to conflicts over water. Additionally,
          global warming leads to the melting of glaciers and rising sea levels,
          increasing the vulnerability of coastal areas. The interconnection
          between CO2 emissions, rising temperatures, and droughts underscores
          the urgency of taking measures to mitigate climate change. It is
          essential to reduce greenhouse gas emissions and promote sustainable
          practices to protect our planet and ensure a livable future for
          generations to come.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container bloque3">
  <div class="row">
    <div class="col-12 seccion4">
        <h4>Global CO2 Emissions Map by Country</h4>
        <br>
        <p>Explore our interactive map that shows CO2 emissions by country. Click on each nation to investigate their contributions to greenhouse gas emissions and understand their impact on global climate change. Compare data and reflect on the importance of reducing our carbon footprint.</p>
        <br>
        <div id="map"></div>
        
    </div>
  </div>
</div>
<div class="bloque4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 seccion5">
      <div class="text_seccion5">
       <h5>Discover Your Environmental Footprint</h5>
       <br>
       <h6>Register and Act for the Planet</h6>
       <br>
       <button type="button" class="btn btn-success btnRegistro"[routerLink]="['/register']">Signup</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 seccion5">
      <img src="assets/ecologico.png" alt="">
    </div>
  </div>
</div>

