.bloque1{
    height: auto;
    background-color: rgb(17,17,17);
padding: 50px;
}
.seccion1{
    height: 100vh;
}
span{
    color:rgb(203, 69, 12);
 
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    color:white ;
    font-size:7rem;

   
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color:white ;
    font-size: 2.5rem;

}

.imgPlaneta{
    
display: flex;
justify-content: end;
align-items: center;
overflow: hidden;
padding: 20px;
}
.imgPlaneta img{
    width: 100%;
    height: auto;
    animation: rotate 7s linear infinite;
  
}
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Comienza en 0 grados */
    }
    to {
        transform: rotate(360deg); /* Termina en 360 grados */
    }
}

/*Bloque2*/

.bloque2{
    height: auto;
    background-color: rgb(235, 235, 235); 
  
}
.seccion2{
    height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
  padding: 50px;
  
}
.text_seccion2{
    width: 80%;
    height: auto;
 
}
.text_seccion2 h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 2rem;
}
.text_seccion2 p{
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:grey
}
.video_seccion2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion3{
    height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
  padding: 50px;
 
}
.seccion3 img{
    width: 80%;
}
.text_seccion3{
    width: 80%;
    height: auto;
}

.text_seccion3 h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 2rem;
}
.text_seccion3 p{
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:grey
}


/*Boque3*/
.bloque3{
    overflow: hidden;
  
}
.seccion4{
   height: auto;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
 margin-top: 50px;
 margin-bottom: 50px;
}

 h4{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 3rem;
    text-align: center;
}

.seccion4 p{
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:grey;
    text-align: center;
}
#map {
    width: 90%;
  height: 70vh; 
  }
  .mapboxgl-popup {
    transform: translateY(-100%); /* Ajusta la posición vertical */
  }
  
  .mapboxgl-popup-anchor-top {
    transform: translateY(-150%); /* Ajusta la posición vertical cuando está anclado en la parte superior */
  }
  
/*bloque4*/
.bloque4{
    overflow: hidden;
}
.seccion5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(17,17,17);
}
.text_seccion5{
    width: 80%;
    height: auto;
    text-align: center;
}
h4{
    font-size: 2rem;
}
h5{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 3rem;
    color:rgb(255, 255, 255); 
}
h6{
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(255, 255, 255);
    text-align: center;
}
.btnRegistro{
  padding: 20px 50px;
  font-size: 1.2rem;

}
.seccion5 img{
 width: 60%;
}
/* Estilos responsivos para móviles */
@media (max-width: 1200px) { 
    h1 {
        font-size: 4rem; 
        
    }
    h2{
        font-size: 2rem; 
    }
    .seccion1{
        height: auto;
    }
    .text_seccion2{
        width: 100%;
        height: auto;
     
    }
    .text_seccion3{
        width: 100%;
        height: auto;
     
    }
  
    .seccion3 img{
        width: 100%;
    }
    #map {
        width: 100%;
      height: 60vh; 
      }
}

@media (max-width: 480px) { 
    h1 {
        font-size: 3rem; 
      
    }
    h2{
        font-size: 1.5rem; 
    }
    h5{
        font-size: 2rem;
    }
    h6{
        font-size: 1rem;
    }
    .btnRegistro{
        padding: 10px 20px;
        font-size: 1.2rem;
      
      }
    .seccion1{
        height: auto;
    }
}