
<div class="container">
  <h2>Your personalized suggestions to reduce your carbon footprint:</h2>

  <div class="row my-4">

     @if (suggestions.length === 1 && suggestions[0].category === 'Well done!') {
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-header text-center">
            <h5><span class="material-icons">thumb_up</span>{{ suggestions[0].category }}</h5>
          </div>
          <div class="card-body">
            <ul>
              <li *ngFor="let task of suggestions[0].tasks">{{ task }}</li>
            </ul>
          </div>
        </div>
      </div>
     } @else {
      <div class="col-md-4" *ngFor="let suggestion of suggestions">
        <div class="card mb-3">
          <div class="card-header text-center">
            <h5>
              <span class="material-icons" [ngStyle]="{ 'color': getIconColor(suggestion.category) }">
                <!-- Mostra l'icona in base alla categoria -->
                {{ getIconForCategory(suggestion.category) }}
              </span>
              {{ suggestion.category }}
            </h5>
          </div>
          <div class="card-body">
            <ul>
              <li *ngFor="let task of suggestion.tasks">{{ task }}</li>
            </ul>
          </div>
        </div>
      </div>
     }


      <!-- Pulsanti per ripetere il questionario o salvare i dati -->
  <div class="row mt-3">
    <div class="col-md-12 text-center d-grid gap-2 d-md-block">
      <button class="btn btn-secondary mx-2" (click)="repeatSurvey()">Repeat the survey</button>
      <button class="btn btn-success mx-2" (click)="saveResults()">Save the data</button>
    </div>
  </div>

  <!-- Mostra il messaggio di conferma -->
  <div *ngIf="submissionMessage" class="alert alert-info mt-3">
    {{ submissionMessage }}
  </div>
</div>





