<!-- <div class="container">
  <h2>Suggestions to reduce your carbon footprint:</h2>
  <p *ngIf="!suggestions.length">No suggestions available</p>
  <ul>
    @for (suggestion of suggestions; track $index) {
      <li>{{ suggestion }}</li>
    }
     <li *ngFor="let suggestion of suggestions">{{ suggestion }}</li> -->
  <!-- </ul>
</div> --> 

<div class="container">
  <h2>Your personalized suggestions to reduce your carbon footprint:</h2>

  <div class="row">
    <div class="col-md-4" *ngFor="let suggestion of suggestions">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">{{ suggestion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
