<div class="container">

  @if (!surveyComplete) {

    <app-progress-bar [progress]="(currentQuestionIndex) / questions.length * 100"></app-progress-bar>

    <app-question-card [question]="questions[currentQuestionIndex]" [form]="surveyForm"></app-question-card>

    <button class="btn btn-primary" (click)="nextQuestion()" [disabled]="surveyForm.invalid">
      {{ isLastQuestion() ? 'Submit' : 'Next' }}
    </button>

  }

  @if (surveyComplete) {

      <app-survey-summary></app-survey-summary>
  }

</div>
