<div class="container-fluid general-cont">

  <div class="row">
    <div class="col">

      @if (!surveyComplete) {

        <app-progress-bar [progress]="(currentQuestionIndex) / questions.length * 100"></app-progress-bar>

        <app-question-card [question]="questions[currentQuestionIndex]" [form]="surveyForm"></app-question-card>

        <div class="d-grid gap-2 d-md-block my-3">
          <button class="btn btn-success" (click)="nextQuestion()" [disabled]="surveyForm.invalid">
            {{ isLastQuestion() ? 'Submit' : 'Next' }}
          </button>
        </div>


      }

      @if (surveyComplete) {

          <app-survey-summary></app-survey-summary>
      }

    </div>
  </div>



</div>
